@import "tailwindcss";
@import "flowbite/src/themes/default";
body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #f3f3f4;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
  border-radius: 22px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cdcbcb;
}
